.navbar {
  height: 48px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 0 0 $gray-elements;

  @include on-tablet {
    height: 64px;
  }

  &--footer {
    display: block;
    height: max-content;

    @include on-tablet {
      height: 96px;
      display: flex;
    }

    justify-content: space-between;
    padding: 0;
  }

  &__logo {
    position: relative;
    padding: 0 24px;

    &--add {
      width: 12.14px;
      height: 16.67px;
      position: absolute;
      bottom: 17.3px;
      left: calc(44.7px + 24px);
    }

    &--footer {
      padding: 0;
      margin-bottom: 32px;

      @include on-tablet {
        margin: 0;
      }
    }
  }

  &__links {
    display: none;

    @include on-tablet {
      display: flex;
    }

    gap: 64px;
    height: 100%;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;

    &--footer {
      margin: 0;
      padding: 0;
      display: block;

      @include on-tablet {
        display: flex;
        padding: 0 24px;
      }
    }
  }

  &-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    color: $gray-icons-placeholders;
    text-transform: uppercase;
    font-family: Mont, sans-serif;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.04em;
    margin: 0;
    box-sizing: border-box;

    &--menu {
      width: min-content;
      margin: auto;
    }

    &:hover {
      color: $gray-primary;
    }

    &--footer {
      display: block;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 32px;
      }

      @include on-tablet {
        display: flex;
        margin: 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-grow: 1;
    justify-content: right;

    & > * {
      display: none;

      @include on-tablet {
        display: inline-block;
      }
    }

    & > a:last-child {
      display: flex;

      @include on-tablet {
        display: none;
      }
    }
  }

  &__search {
    flex-grow: 0.2;
    position: relative;
    box-shadow: -1px 0 0 0 $gray-elements;

    &--hide {
      display: none;
    }

    &-input {
      @extend %buttons;

      padding: 0 48px 0 24px;
      box-sizing: border-box;
      border: none;
      height: 100%;
      width: 100%;
      line-height: 18px;
      text-align: left;

      &::placeholder {
        color: $gray-icons-placeholders;
      }

      &:focus,
      &:active {
        outline: 1px solid white;
        outline-offset: -2px;
        background: #FAFBFC;
        border-bottom: 1px #FAFBFC
      }
    }

    &-svg {
      @extend %absolute-center;

      right: 24px;
    }
  }

  &__icons {
    width: 48px;
    height: 100%;
    box-shadow: -1px 0 0 0 $gray-elements;

    @include on-tablet {
      width: 65px;
    }

    &-svg {
      @extend %absolute-center;

      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-counter {
      @extend %absolute-center;

      height: 14px;
      width: 14px;
      left: 50%;
      background-color: #EB5757;
      border-radius: 50%;
      border: 2px solid white;
      transform: translateY(-75%);

      &--num {
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: Mont, sans-serif;
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 1px 0 0 1px;
      }

    }
  }

  &__totop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;

    @include on-tablet {
      padding: 0;;
    }

    &-label {
      @extend %small-text;

      color: $gray-secondary;
      margin-right: 16px;
    }
  }
}

.active {
  color: $gray-primary;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-color: $gray-primary;
    width: 100%;
    height: 3px;
  }
}
