.banner {
  margin: 0 -16px 56px;

  @include on-tablet {
    margin: 0 0 80px;
  }

  &__container {
    --margin-left: 16px;
    --height: 100vw;;
    --width: 100vw;

    box-sizing: border-box;
    height: var(--height);

    @include on-tablet {
      --margin-left: 24px;
      --height: calc(var(--width) * 0.38);
      --width: calc(100vw - 2 * var(--margin-left) - 32px * 2 - 16px * 2 - 24px);
    }

    margin-bottom: 5px;
    position: relative;

    @include on-desktop {
      --width: calc(1136px - 32px * 2 - 16px * 2);
    }
  }

  &__link {
    display: none;
    text-transform: uppercase;
    padding: calc(var(--width) * 0.15 / 10) calc(var(--width) * 0.5 / 10);
    position: absolute;
    text-decoration: none;
    left: calc(var(--width) * 0.55 / 10);
    bottom: calc(var(--width) * 0.38 * 0.16);
    font-size: calc(var(--width) * 0.18 / 10);
    color: $gray-elements;
    border: 1px solid $gray-elements;
    border-radius: calc(var(--width) * 0.18);

    @extend %body-text;

    @include on-tablet {
      display: block;
    }
  }

  &__slider {
    width: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    display: inline-block;
    position: relative;

    @include on-tablet {
      width: var(--width);
      margin: 0 16px;
    }

    &-line {
      right: 0;

      display: flex;
      position: relative;
      transition: 1s;

      &--1 {
        transform: translateX(0);
      }

      &--2 {
        transform: translateX(-33.3%);
      }

      &--3 {
        transform: translateX(-66.6%);
      }
    }


    &-container {
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: calc(var(--width) * 3);

      &--photo {
        display: inline-block;
        height: var(--height);
        width: var(--width);

        object-fit: cover;
        object-position: 87% 100%;

        @include on-tablet {
          object-position: center;
        }

        &-1 {
          background-image: url(../../../public/img/Banner1.jpg);
        }

        &-2 {
          background-image: url(../../../public/img/Banner2.jpg);
        }

        &-3 {
          background-image: url(../../../public/img/Banner3.jpg);
        }
      }
    }

    &--button {
      @extend %button;

      display: none;

      @include on-tablet {
        display: inline-block;
      }


      box-sizing: border-box;
      border: 1px solid $gray-icons-placeholders;
      background-color: white;
      transform: translateY(-50%);
      height: var(--height);
      width: 32px;
    }

    &-buttons {
      text-align: center;

      &--dot {
        display: inline-block;
        background-color: white;
        height: 24px;
        width: 24px;
        border: none;
        margin-right: 1px;

        &::after {
          content: '';
          display: block;
          background-color: $gray-elements;
          height: 4px;
          width: 14px;
          transform: translateY(-50%);
        }

        &:first-child {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.pressed {
  &::after {
    background-color: $gray-primary;
  }
}

.categories {
  &__container {
    grid-template-columns: repeat(1, 100%);

    @include on-tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__link {
    text-decoration: none;

    &-img {
      width: 100%;
      margin-bottom: 24px;
    }

    &-title {
      @extend %h3;

      margin: 0;
    }

    &-subtitle {
      @extend %buttons;

      margin: 0;
      color: $gray-secondary;
    }
  }
}
